.autogit
.pio
.pio/build/az-delivery-devkit-v4/.sconsign39.dblite
.pio/build/az-delivery-devkit-v4/idedata.json
.pio/build/az-delivery-devkit-v4/spiffs.bin
.pio/build/az-delivery-devkit-v4/tmp4t8c__j6.tmp
.pio/build/az-delivery-devkit-v4/tmp41e9gpiv.tmp
.pio/build/az-delivery-devkit-v4/tmpfyomhl0v.tmp
.pio/build/az-delivery-devkit-v4/tmpw7eg95ly.tmp
.pio/build/az-delivery-devkit-v4/FrameworkArduino/base64.cpp.o
.pio/build/az-delivery-devkit-v4/FrameworkArduino/cbuf.cpp.o
.pio/build/az-delivery-devkit-v4/FrameworkArduino/Esp.cpp.o
.pio/build/az-delivery-devkit-v4/FrameworkArduino/esp32-hal-adc.c.o
.pio/build/az-delivery-devkit-v4/FrameworkArduino/esp32-hal-bt.c.o
.pio/build/az-delivery-devkit-v4/FrameworkArduino/esp32-hal-cpu.c.o
.pio/build/az-delivery-devkit-v4/FrameworkArduino/esp32-hal-dac.c.o
.pio/build/az-delivery-devkit-v4/FrameworkArduino/esp32-hal-gpio.c.o
.pio/build/az-delivery-devkit-v4/FrameworkArduino/esp32-hal-i2c-slave.c.o
.pio/build/az-delivery-devkit-v4/FrameworkArduino/esp32-hal-i2c.c.o
.pio/build/az-delivery-devkit-v4/FrameworkArduino/esp32-hal-ledc.c.o
.pio/build/az-delivery-devkit-v4/FrameworkArduino/esp32-hal-matrix.c.o
.pio/build/az-delivery-devkit-v4/FrameworkArduino/esp32-hal-misc.c.o
.pio/build/az-delivery-devkit-v4/spiffs.bin
.pio/build/az-delivery-devkit-v4/tmp4t8c__j6.tmp
.pio/build/az-delivery-devkit-v4/tmp41e9gpiv.tmp
.pio/build/az-delivery-devkit-v4/tmpfyomhl0v.tmp
.pio/build/az-delivery-devkit-v4/tmpw7eg95ly.tmp
